@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/Eco/YekanBakhFaNum/webfonts/woff2/YekanBakhFaNum-Regular.woff2') format('woff2'),
       url('/fonts/Eco/YekanBakhFaNum/webfonts/woff2/YekanBakhFaNum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/Eco/YekanBakhFaNum/webfonts/woff2/YekanBakhFaNum-Bold.woff2') format('woff2'),
       url('/fonts/Eco/YekanBakhFaNum/webfonts/woff2/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2, h3, p, span, button {
  font-family: 'YekanBakh', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h1 {
  font-family: 'YekanBakh', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-variation-settings:
    "slnt" 0;
}

h1, p, span, button {
  color: #303030
}